body {
    background-color: #161616;
    color: rgb(204, 204, 204);
    /*TODO: Revisar la fuente*/
    font-family: Lexend, Sans serif; 
    text-align: center;
}
    
h1 {
    font-size: 40px;
}

/* Centra su contenido tanto vertical como horizontalmente */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: solid 2px grey;
    border-radius: 5px;
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

input {
    /* TODO: Hacer los input más bonitos*/
    margin: 7px;
}

/* TODO: Hacer una animacion cuando esté encima, cambiar de color poco a poco, Midudev */
.submit:hover {
    
}

.submit {
    margin: 10px;
}