body {
    background-color: #161616;
    color: rgb(204, 204, 204);
    /*TODO: Revisar la fuente*/
    font-family: Lexend, Sans serif; 
    text-align: center;
}
    
h1 {
    font-size: large;
}

form {
    border: solid 2px grey;
    margin-top: 10px;
}

input {
    /* TODO: Hacer los input más bonitos*/
}

/* TODO: Diferenciar el botón de submit */
.submit:hover {
    
}

.submit {

}